@charset "UTF-8";
/* NORMALIZE */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* COMMON HTML-ELEMENTS STYLE */
html,
body {
  min-height: 100%;
}
body {
  font: 15px/22px 'PT Sans', "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #474f52;
  background-color: #eff0f0;
}
p,
dl {
  font-size: 1em;
  margin: 0 0 22px 0;
}
h1 {
  font-size: 24px;
  line-height: 44px;
  margin: 22px 0 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 0;
}
a {
  color: #2d6d86;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 109, 134, 0.4);
}
a:hover {
  color: #a34f33;
  border-bottom-color: rgba(163, 79, 51, 0.4);
}
::-moz-selection,
::selection {
  background: #ffff00;
  text-shadow: none;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 22px;
  padding-left: 0;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
nav ul,
nav ol {
  padding-left: 0;
  margin: 0;
}
p + ul,
p + ol {
  margin-top: -22px;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #474f52;
  cursor: help;
}
ins,
mark {
  background-color: #ffee55;
  color: #474f52;
  text-decoration: none;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, monospace, sans-serif;
}
hr {
  display: block;
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid #929ca0;
}
figcaption {
  font-size: .85em;
  font-style: italic;
}
button,
input,
select,
textarea {
  font-family: 'PT Sans', "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}
[disabled] {
  cursor: default !important;
}
code {
  padding: 3px 3px 0px;
  font-size: .85em;
  display: inline-block;
  line-height: 1;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}
pre {
  background: #f8f8f8;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 19px;
  white-space: pre;
  overflow: auto;
}
kbd {
  padding: 0 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  border-color: #cccccc;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444444;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}
/* PAGE LAYOUT CLASS */
.-clearfix {
  *zoom: 1;
}
.-clearfix:after,
.-clearfix:before {
  display: table;
  content: "";
}
.-clearfix:after {
  clear: both;
}
.-left {
  float: left;
  margin-right: 20px;
  display: block;
}
.-right {
  float: right;
  margin-left: 20px;
  display: block;
}
.-left img,
.-right img,
img.-left,
img.-right {
  position: relative;
  top: .4em;
}
figure.-left img + figcaption,
figure.-right img + figcaption {
  margin-top: .3em;
}
.-row {
  *zoom: 1;
  margin-left: -20px;
}
.-row:after,
.-row:before {
  display: table;
  content: "";
}
.-row:after {
  clear: both;
}
.-unit,
.-unit1of1,
.-unit1of2,
.-unit1of3,
.-unit2of3,
.-unit1of4,
.-unit2of4,
.-unit3of4,
.-unit1of5,
.-unit2of5,
.-unit3of5,
.-unit4of5 {
  float: left;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}
.-unit1of1 {
  float: none;
}
.-unit1of2 {
  width: 50%;
}
.-unit1of3 {
  width: 33.33333%;
}
.-unit2of3 {
  width: 66.66666%;
}
.-unit1of4 {
  width: 25%;
}
.-unit2of4 {
  width: 50%;
}
.-unit3of4 {
  width: 75%;
}
.-unit1of5 {
  width: 20%;
}
.-unit2of5 {
  width: 40%;
}
.-unit3of5 {
  width: 60%;
}
.-unit4of5 {
  width: 80%;
}
.-blocks-grid {
  display: table;
  margin-left: -20px;
  font-size: 0px;
}
.-blocks-grid_item {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  min-height: 70px;
  _height: 70px;
  margin-bottom: 40px;
  padding-left: 20px;
  vertical-align: top;
  font-size: 15px;
}
/* КЛАССЫ ФОРМЫ */
.-fieldset {
  margin: 0 0 20px 0;
  padding: 10px 9px 9px;
}
.-form-line {
  *zoom: 1;
  margin-bottom: 20px;
}
.-form-line:after,
.-form-line:before {
  display: table;
  content: "";
}
.-form-line:after {
  clear: both;
}
.-form-inline-group {
  display: inline-block;
  margin-right: 20px;
}
.-label {
  display: block;
  width: 208px;
}
.-label-inline {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
}
.-label--required:after {
  content: "*";
  font-weight: normal;
  color: #ff0000;
  padding-left: .15em;
}
.-form-note {
  display: block;
}
.-form-note-inline {
  display: inline-block;
  padding-top: 5px;
}
.-input-text,
.-select,
.-textarea,
.-input-file,
.-fake-input {
  padding: 4px 5px 4px;
  border: 1px solid #849094;
  vertical-align: top;
  line-height: 20px;
}
.-input-text {
  height: 20px;
}
.-input-text,
.-textarea,
.-fake-input {
  width: 206px;
}
.-input-file {
  width: 220px;
}
.-fake-input {
  display: inline-block;
  background-color: #FFF;
  height: 20px;
  overflow: hidden;
}
.-input--error {
  border-color: #c65c39;
}
.-input--success {
  border-color: #3fa63f;
}
.-input--disabled {
  border-color: #f2f6f8;
}
.-select {
  height: 30px;
}
.-select option {
  padding: 4px 5px 4px;
}
.-textarea {
  line-height: 20px;
  padding: 4px 5px 4px;
  min-height: 80px;
}
.-chosen {
  min-height: 20px;
  padding-left: 20px;
}
.-chosen--inline {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}
.-chosen_label {
  font-weight: normal;
  cursor: pointer;
  display: inline;
}
.-chosen_label [disabled] {
  cursor: default;
}
.-chosen_input {
  cursor: pointer;
  float: left;
  margin: 4px 4px 0 -20px;
  /*&[disabled] {
    border: none;
  }*/

}
.-chosen_input:disabled {
  cursor: default;
}
.-letters2 {
  width: 16px;
}
.-letters3 {
  width: 24px;
}
.-letters4 {
  width: 32px;
}
.-letters5 {
  width: 40px;
}
.-letters6 {
  width: 48px;
}
.-letters7 {
  width: 56px;
}
.-letters8 {
  width: 64px;
}
.-letters9 {
  width: 72px;
}
.-letters10 {
  width: 80px;
}
.-letters12 {
  width: 96px;
}
.-letters16 {
  width: 128px;
}
.-width33,
.-width50,
.-width100 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.-width33 {
  width: 33.33%;
}
.-width50 {
  width: 50%;
}
.-width100 {
  width: 100%;
}
.-width100,
.-width50,
.-width33 {
  height: 30px;
}
textarea.-width100,
textarea.-width50,
textarea.-width33 {
  min-height: 90px;
  height: auto;
}
.-form-line_left {
  float: left;
  padding-top: 4px;
  text-align: left;
  width: 120px;
}
.-form-line_right {
  margin-left: 140px;
}
.-label--spacer {
  margin-top: 20px;
}
.-form-note,
.-form-note-inline {
  color: #6b767b;
}
.-input-text,
.-select,
.-textarea,
.-fake-input {
  color: #474f52;
  border: 1px solid #a0a8ac;
  border-top: 1px solid #849094;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  -o-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: -moz-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: -o-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#fcfcfc, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#fcfcfc, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: linear-gradient(to top, #f5f5f5, #fcfcfc);
}
.-input-text:focus,
.-select:focus,
.-textarea:focus,
.-fake-input:focus {
  background-color: #FFF;
  border: 1px solid #409bbf;
  -webkit-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -moz-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -o-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  outline: none;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #9aa4a7;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9aa4a7;
}
.-input--success {
  background-color: #FFF;
  border: 1px solid #3fa63f;
  -webkit-box-shadow: 0 0 0 2px #a8f0a8, inset 0 1px 2px #abbaab;
  -moz-box-shadow: 0 0 0 2px #a8f0a8, inset 0 1px 2px #abbaab;
  -o-box-shadow: 0 0 0 2px #a8f0a8, inset 0 1px 2px #abbaab;
  box-shadow: 0 0 0 2px #a8f0a8, inset 0 1px 2px #abbaab;
  outline: none;
}
.-form-note--success {
  color: #3fa63f;
}
.-input--disabled {
  background: #f2f6f8;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -o-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
  border: 1px solid #c8ced0;
}
.-form-action {
  padding: 10px 0px;
  margin-top: 20px;
  background-color: #e3e1de;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #cbc7c3;
  border-bottom: 1px solid #FFF;
  -webkit-box-shadow: inset 0 0px 1px #bfbab5;
  -moz-box-shadow: inset 0 0px 1px #bfbab5;
  -o-box-shadow: inset 0 0px 1px #bfbab5;
  box-shadow: inset 0 0px 1px #bfbab5;
}
.-input--error {
  background-color: #FFF;
  border: 1px solid #c65c39;
  -webkit-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  -moz-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  -o-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  outline: none;
}
.-form-note--error {
  color: #c65c39;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
  }
}
.-input-note-error {
  font-size: 13px;
  display: inline-block;
  max-width: 200px;
  min-width: 100px;
  position: absolute;
  padding: 4px 5px 4px;
  margin-left: 10px;
  line-height: 20px;
  color: #773722;
  border: 1px solid #cc5933;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  -moz-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  -o-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  background-color: #e3c1b5;
  -webkit-animation: fadeInRight 0.75s ease-in 0.8s 1 alternate;
  -moz-animation: fadeInRight 0.75s ease-in 0.8s 1 alternate;
  -ms-animation: fadeInRight 0.75s ease-in 0.8s 1 alternate;
  -o-animation: fadeInRight 0.75s ease-in 0.8s 1 alternate;
  animation: fadeInRight 0.75s ease-in 0.8s 1 alternate;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.-input-note-error:before {
  content: '';
  display: block;
  position: absolute;
  left: -7px;
  top: 8px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-right-color: #cc5933;
  border-left: none;
}
.-form-errors {
  margin-bottom: 10px;
  color: #773722;
  border: 1px solid #cc5933;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  -moz-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  -o-box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  box-shadow: inset 0px 0px 4px #f9e7e2, inset 0px 1px 0px #fbeeea, inset 1px 0px 0px #f6ddd5, inset -1px 0px 0px #f6ddd5, 0 1px 2px #d1a394;
  background-color: #e3c1b5;
  padding: 10px;
}
.-form-errors_title {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 1px 0px #f6ddd5;
  -moz-box-shadow: 0px 1px 0px #f6ddd5;
  -o-box-shadow: 0px 1px 0px #f6ddd5;
  box-shadow: 0px 1px 0px #f6ddd5;
  border-bottom: 1px solid #cc5933;
}
.-form-errors_list {
  list-style: none;
  margin: 0;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-10px);
    -moz-transform: translate(-10px);
    transform: translate(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    transform: translate(10px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-10px);
    -moz-transform: translate(-10px);
    transform: translate(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    transform: translate(10px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-10px);
    -moz-transform: translate(-10px);
    transform: translate(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    transform: translate(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-10px);
    -moz-transform: translate(-10px);
    transform: translate(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    transform: translate(10px);
  }
}
.-input-shake {
  -webkit-animation: shake 0.7s ease 0s 1 alternate;
  -moz-animation: shake 0.7s ease 0s 1 alternate;
  -ms-animation: shake 0.7s ease 0s 1 alternate;
  -o-animation: shake 0.7s ease 0s 1 alternate;
  animation: shake 0.7s ease 0s 1 alternate;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
:root .-chosen_input {
  filter: alpha(opacity=0 * 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0 * 100)";
  *zoom: 1;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  position: relative;
  z-index: 1;
}
:root .-chosen_input + .-chosen_custom {
  display: inline-block;
  position: absolute;
  margin: 4px 0 0 -20px;
  cursor: pointer;
  width: 11px;
  height: 11px;
  border: 1px solid #a0a8ac;
  border-top: 1px solid #849094;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  -o-box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  box-shadow: inset 0 1px 2px #bfc0c0, 0 1px 0px #ffffff;
  background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: -moz-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: -o-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#fcfcfc, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#fcfcfc, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #f5f5f5, #fcfcfc);
  background-image: linear-gradient(to top, #f5f5f5, #fcfcfc);
}
:root .-chosen_input + .-chosen_custom.-input--error {
  background-color: #FFF;
  border: 1px solid #c65c39;
  -webkit-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  -moz-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  -o-box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  box-shadow: 0 0 0 2px #f0baa8, inset 0 1px 2px #baafab;
  outline: none;
}
:root .-chosen_input:hover + .-chosen_custom {
  border: 1px solid #409bbf;
}
:root .-chosen_input:focus + .-chosen_custom {
  background-color: #FFF;
  border: 1px solid #409bbf;
  -webkit-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -moz-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -o-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  outline: none;
}
:root .-chosen_input[disabled] + .-chosen_custom {
  background: #f2f6f8;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -o-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
  border: 1px solid #c8ced0;
  cursor: default;
}
:root input[type="radio"].-chosen_input + .-chosen_custom {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
:root input[type="checkbox"].-chosen_input:checked + .-chosen_custom:before,
:root input[type="checkbox"].-chosen_input:checked + .-chosen_custom:after {
  content: "";
  display: block;
  position: absolute;
}
:root input[type="checkbox"].-chosen_input:checked + .-chosen_custom:before {
  width: 10px;
  height: 4px;
  left: 1px;
  top: -1px;
  border-color: #555f62;
  border-style: solid;
  border-width: 0px 0px 3px 3px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  :root input[type="checkbox"]:checked + .-chosen_custom:before {
    left: 2px;
    top: -2px;
  }
}
:root input[type="checkbox"].-chosen_input:disabled:checked + .-chosen_custom:before,
:root input[type="checkbox"].-chosen_input:disabled:checked + .-chosen_custom:after {
  cursor: default;
  border-color: #b5b9ba;
}
:root input[type="radio"].-chosen_input:checked + .-chosen_custom:before,
:root input[type="radio"].-chosen_input:disabled:checked + .-chosen_custom:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(bottom, #555f62, #b0b7ba);
  background-image: -moz-linear-gradient(bottom, #555f62, #b0b7ba);
  background-image: -o-linear-gradient(bottom, #555f62, #b0b7ba);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555f62, endColorstr=#b0b7ba, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555f62, endColorstr=#b0b7ba, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #555f62, #b0b7ba);
  background-image: linear-gradient(to top, #555f62, #b0b7ba);
  border: 1px solid #555f62;
  -webkit-box-shadow: inset 0px 0px 1px #ffffff;
  -moz-box-shadow: inset 0px 0px 1px #ffffff;
  -o-box-shadow: inset 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 1px #ffffff;
}
:root input[type="radio"].-chosen_input:disabled:checked + .-chosen_custom:before {
  cursor: default;
  background: #cacdce;
  border: 1px solid #bfc3c4;
}
.-select_custom-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.-select_custom-wrap select {
  filter: alpha(opacity=0 * 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0 * 100)";
  *zoom: 1;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  position: relative;
  z-index: 1;
  padding-right: 10px;
}
.-select_custom-wrap select option {
  filter: alpha(opacity=1 * 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 * 100)";
  *zoom: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  border-bottom: 1px solid #DDD;
}
.-select_custom-wrap select option:last-child {
  border-bottom: none;
}
.-select_custom-wrap select:hover + .-select_custom {
  border: 1px solid #409bbf;
}
.-select_custom-wrap select:hover + .-select_custom:before {
  color: #0f5f67;
  border: none;
  text-shadow: 0px 1px 0px #c2e2e5;
  -webkit-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 2px hsl(197, 15%, 36%);
  -moz-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 2px hsl(197, 15%, 36%);
  -o-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 2px hsl(197, 15%, 36%);
  box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 2px hsl(197, 15%, 36%);
  background-image: -webkit-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: -moz-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: -o-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cd2d9, endColorstr=#c6e9ec, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cd2d9, endColorstr=#c6e9ec, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: linear-gradient(to top, #8cd2d9, #c6e9ec);
}
.-select_custom-wrap select:focus + .-select_custom {
  background-color: #FFF;
  border: 1px solid #409bbf;
  -webkit-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -moz-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -o-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  outline: none;
}
.-select_custom-wrap select:focus + .-select_custom:before {
  color: #555b5e;
  text-shadow:  none;
  -webkit-box-shadow: inset 0px 1px 2px #6b767b;
  -moz-box-shadow: inset 0px 1px 2px #6b767b;
  -o-box-shadow: inset 0px 1px 2px #6b767b;
  box-shadow: inset 0px 1px 2px #6b767b;
  background-image: -webkit-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -moz-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -o-linear-gradient(bottom, #dde2e3, #c7ced1);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: linear-gradient(to top, #dde2e3, #c7ced1);
}
.-select_custom {
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  padding-right: 31px;
  font-style: normal;
}
.-select_custom:before {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 23px;
  height: 28px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #474f52;
  font-size: 13px;
  border: none;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e4e6e7;
  -webkit-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  -moz-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  -o-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  background-image: -webkit-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -moz-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -o-linear-gradient(bottom, #aeb8bc, #d5dadd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: linear-gradient(to top, #aeb8bc, #d5dadd);
}
.-select_custom:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 12.5px;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #666666 transparent transparent;
}
.-input-file_custom {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 112px;
  font-style: normal;
  white-space: nowrap;
  min-width: 100px;
  width: auto;
  max-width: 250px;
  overflow: hidden;
}
.-input-file_custom:after {
  content: "выбрать файл";
  cursor: default;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 20px;
  padding: 4px 10px 4px;
  text-shadow: 0px 1px 0px #e0e0e0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #474f52;
  font-size: 13px;
  border: none;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e4e6e7;
  -webkit-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  -moz-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  -o-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 2px hsl(197, 15%, 36%);
  background-image: -webkit-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -moz-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -o-linear-gradient(bottom, #aeb8bc, #d5dadd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: linear-gradient(to top, #aeb8bc, #d5dadd);
}
.-input-file {
  filter: alpha(opacity=0 * 100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0 * 100)";
  *zoom: 1;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  position: absolute;
  left: -9999px;
}
.-input-file:focus + .-input-file_custom {
  background-color: #FFF;
  border: 1px solid #409bbf;
  -webkit-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -moz-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  -o-box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  box-shadow: 0 0 0 2px #a8dbf0, inset 0 1px 2px #abb6ba;
  outline: none;
}
.-input-file:active + .-input-file_custom:after {
  color: #555b5e;
  text-shadow:  none;
  -webkit-box-shadow: inset 0px 1px 2px #6b767b;
  -moz-box-shadow: inset 0px 1px 2px #6b767b;
  -o-box-shadow: inset 0px 1px 2px #6b767b;
  box-shadow: inset 0px 1px 2px #6b767b;
  background-image: -webkit-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -moz-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -o-linear-gradient(bottom, #dde2e3, #c7ced1);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: linear-gradient(to top, #dde2e3, #c7ced1);
}
/* КНОПКИ */
.-button {
  height: 30px;
  vertical-align: top;
  border: 1px solid #849094;
}
.-button {
  color: #faf9f0;
  font-size: 13px;
  text-shadow: 0px 1px 0px #1b2c33;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: visible;
  vertical-align: top;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -0px;
  display: inline-block;
  position: relative;
  height: 24px;
  line-height: 24px;
  padding: 1px 12px 2px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b;
  -moz-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b;
  -o-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b;
  box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b;
  /*    .lt-ie9 & {
      margin-right: 3px;
      padding-right: @btnPaddingLeftRight - 3px;
      &:after {
        right: -3px;
      }
    }*/

}
button.-button {
  height: 27px;
}
.-button:after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -37px;
  width: 8px;
  height: 27px;
  top: 0px;
  right: 0px;
}
.-button:focus,
.-button:hover {
  border: none;
  outline: none !important;
  color: #faf9f0;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -74px;
  -webkit-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  -moz-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  -o-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
}
.-button:focus:after,
.-button:hover:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -111px;
}
.-button:active,
.-button.-button--active {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -148px;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -o-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
  top: 1px;
}
.-button:active:after,
.-button.-button--active:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -185px;
}
.-button--active {
  cursor: default;
}
.-button--gray {
  color: #ffffff;
  text-shadow: 0px 1px 0px #3b3b3b;
  -webkit-box-shadow: 0 1px 0px #666666, 0 2px 2px #7b7b7b;
  -moz-box-shadow: 0 1px 0px #666666, 0 2px 2px #7b7b7b;
  -o-box-shadow: 0 1px 0px #666666, 0 2px 2px #7b7b7b;
  box-shadow: 0 1px 0px #666666, 0 2px 2px #7b7b7b;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -296px;
}
.-button--gray:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -333px;
}
.-button--gray:focus,
.-button--gray:hover {
  color: #faf9f0;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -74px;
  -webkit-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  -moz-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  -o-box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
  box-shadow: 0 1px 0px #246c80, 0 2px 2px #7b7b7b, 0 0 4px #92f5ff;
}
.-button--gray:focus:after,
.-button--gray:hover:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -111px;
}
.-button--gray:active,
.-button--gray.-button--active {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -370px;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -o-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
  top: 1px;
}
.-button--gray:active:after,
.-button--gray.-button--active:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -407px;
}
.-button--gray.-button--disabled,
.-button--gray.-button--disabled:hover,
.-button--gray.-button--disabled:focus {
  color: #ffffff;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -444px;
}
.-button--gray.-button--disabled:after,
.-button--gray.-button--disabled:hover:after,
.-button--gray.-button--disabled:focus:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -481px;
}
.-button--disabled,
.-button--disabled:focus,
.-button--disabled:hover {
  color: #e8eef4;
  text-shadow: none;
  cursor: not-allowed;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -o-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -222px;
}
.-button--disabled:after,
.-button--disabled:focus:after,
.-button--disabled:hover:after {
  background: url("/assets/img/sprite_button.png") no-repeat;
  background-position: -0px -259px;
}
.-button--disabled:active,
.-button--disabled:focus:active,
.-button--disabled:hover:active {
  top: 0px;
}
.-btn {
  display: inline-block;
  font-size: 14px !important;
  vertical-align: top;
  padding: 4px 10px 5px;
  line-height: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #474f52;
  font-size: 13px;
  border: none;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e4e6e7;
  -webkit-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 0 hsl(197, 15%, 75%);
  -moz-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 0 hsl(197, 15%, 75%);
  -o-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 0 hsl(197, 15%, 75%);
  box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 4px #e4e6e7, inset 0px -2px 0px #7f8b90, inset -1px 0px 0px #dee1e3, inset 1px 0px 0px #dee1e3, inset 0 1px 0px #ffffff, 0 1px 0 hsl(197, 15%, 75%);
  background-image: -webkit-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -moz-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: -o-linear-gradient(bottom, #aeb8bc, #d5dadd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeb8bc, endColorstr=#d5dadd, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #aeb8bc, #d5dadd);
  background-image: linear-gradient(to top, #aeb8bc, #d5dadd);
  border: 1px solid #849094;
  border-bottom-color: #5f696d;
  border-top-color: #a0a8ac;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.-btn:hover,
.-btn:focus {
  cursor: pointer;
  outline: none;
  color: #0f5f67;
  border: none;
  text-shadow: 0px 1px 0px #c2e2e5;
  -webkit-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 0 hsl(197, 15%, 80%);
  -moz-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 0 hsl(197, 15%, 80%);
  -o-box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 0 hsl(197, 15%, 80%);
  box-shadow: inset 0px 15px 0px rgba(255, 255, 255, 0.33), inset 0px 0px 3px #e4e6e7, inset 0px 0px 4px #79e2ec, inset 0px -2px 0px #3d888f, inset -1px 0px 0px #d4ebed, inset 1px 0px 0px #d4ebed, inset 0 1px 0px #ffffff, 0px 0px 3px #79e2ec, 0 1px 0 hsl(197, 15%, 80%);
  background-image: -webkit-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: -moz-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: -o-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cd2d9, endColorstr=#c6e9ec, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cd2d9, endColorstr=#c6e9ec, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #8cd2d9, #c6e9ec);
  background-image: linear-gradient(to top, #8cd2d9, #c6e9ec);
  border: 1px solid #1b8d98;
}
.-btn:active,
.-btn.-btn--active {
  color: #555b5e;
  text-shadow:  none;
  -webkit-box-shadow: 0 1px 0 #FFF, inset 0px 1px 2px #6b767b;
  -moz-box-shadow: 0 1px 0 #FFF, inset 0px 1px 2px #6b767b;
  -o-box-shadow: 0 1px 0 #FFF, inset 0px 1px 2px #6b767b;
  box-shadow: 0 1px 0 #FFF, inset 0px 1px 2px #6b767b;
  background-image: -webkit-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -moz-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: -o-linear-gradient(bottom, #dde2e3, #c7ced1);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dde2e3, endColorstr=#c7ced1, gradientType=0)";
  background-image: -ms-linear-gradient(bottom, #dde2e3, #c7ced1);
  background-image: linear-gradient(to top, #dde2e3, #c7ced1);
  border: 1px solid #849094;
  border-top-color: #6b767b;
}
.-btn.-btn--disabled {
  cursor: not-allowed;
  border: 1px solid #849094;
  -webkit-box-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 #FFF;
  -o-box-shadow: 0 1px 0 #FFF;
  box-shadow: 0 1px 0 #FFF;
  background-image: none;
  background-color: #a5adb1;
  text-shadow:  none;
  color: #EEE;
}
.-btn--big {
  line-height: 29px;
  font-size: 16px !important;
  font-weight: bold;
}
.-mark {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0px 1px 0px #f7f7f7;
  -moz-box-shadow: inset 0px 1px 0px #f7f7f7;
  -o-box-shadow: inset 0px 1px 0px #f7f7f7;
  box-shadow: inset 0px 1px 0px #f7f7f7;
  display: inline-block;
  font-size: 14px !important;
  text-align: center;
  vertical-align: top;
  line-height: 20px;
  height: 19px;
  padding: 4px 5px 5px;
  border: 1px solid #849094;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.-ui-group {
  vertical-align: top;
  text-wrap: none;
  white-space: nowrap;
  display: inline-table;
  font-size: 0px;
}
.-ui-group > .-ui-group_item {
  letter-spacing: normal;
  margin-left: -1px;
  font-size: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.-ui-group > .-ui-group_item:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.-ui-group > .-ui-group_item:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.-ui-group > .-ui-group_item:hover,
.-ui-group > .-ui-group_item:focus {
  position: relative;
}
/*#windows > .init(@unit-space;               // микромодуль
                 hsla(200, 30%, 75%, 0.3);  // цвет подложни окна
                 hsl(32, 5%, 40%);         // цвет бордюра окна
                 @bgColor;                  // цвет фона сайта
                 0px);                   // скругления
*/
/*
#tables > .init > .zebra(hsl(180, 5%, 92%);     // цвет нечётных строк
                         #F3F3F3); // цвет чётных строк
*/
/*
#misc > .init > .ToolTip(hsl(180, 60%, 85%); // цвет
                         @round;             // скругления углов
                         190px);             // максимальная длина подсказаки
*/
/* COSMETIC CLASS */
._hide {
  display: none;
}
._cursor-normal {
  cursor: default !important;
}
._spacer {
  margin-bottom: 20px !important;
}
._spacer-big {
  margin-bottom: 40px !important;
}
._spacer-l {
  margin-left: 20px !important;
}
._spacer-r {
  margin-right: 20px !important;
}
._spacer-t {
  margin-top: 20px !important;
}
._spacer-half-l {
  margin-left: 10px !important;
}
._spacer-half-r {
  margin-right: 10px !important;
}
._spacer-half-t {
  margin-top: 10px !important;
}
._spacer-half-b {
  margin-bottom: 10px !important;
}
._padding-lr {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
._padding {
  padding: 20px !important;
}
._padding-l {
  padding-left: 20px !important;
}
._padding-half-l {
  padding-left: 10px !important;
}
._null-r {
  margin-right: 0 !important;
}
._null-l {
  margin-left: 0 !important;
}
._null-b {
  margin-bottom: 0 !important;
}
._null-t {
  margin-top: 0 !important;
}
._left {
  float: left !important;
}
._right {
  float: right !important;
}
._clear {
  clear: both !important;
}
._text-big {
  font-size: 24px !important;
  line-height: 1.5em;
}
._text-middle {
  font-size: 18px !important;
  line-height: 1em;
}
._text-small {
  font-size: 11px !important;
  line-height: 1;
}
._text-ghost {
  color: #929ca0 !important;
}
._center {
  text-align: center;
}
._bold {
  font-weight: bold !important;
}
/* PROJECT STYLE */
body {
  background-image: url("/assets/img/bg_page.png");
}
.page {
  width: 960px;
  margin: auto;
}
.box {
  background-color: #CCCCCC;
  padding: 10px;
  text-align: center;
}
/* ПРИМЕР ФОРМЫ ОБРАТНОЙ СВЯЗИ */
.feedbackBg {
  background: #363330 url("/assets/img/wood_bg.jpg");
}
.feedback {
  width: 600px;
  padding: 10px;
  margin: 80px auto 0px;
  background-image: -webkit-linear-gradient(135deg, #89c7e6 20px, #ffffff 20px, #ffffff 40px, #e68989 40px, #e68989 60px, #ffffff 60px, #ffffff 80px, #89c7e6 80px, #89c7e6 100px, #ffffff 100px, #ffffff 120px, #e68989 120px, #e68989 140px, #ffffff 140px, #ffffff 160px, #89c7e6 160px, #89c7e6 180px);
  background-image: -moz-linear-gradient(135deg, #89c7e6 20px, #ffffff 20px, #ffffff 40px, #e68989 40px, #e68989 60px, #ffffff 60px, #ffffff 80px, #89c7e6 80px, #89c7e6 100px, #ffffff 100px, #ffffff 120px, #e68989 120px, #e68989 140px, #ffffff 140px, #ffffff 160px, #89c7e6 160px, #89c7e6 180px);
  background-image: -ms-linear-gradient(135deg, #89c7e6 20px, #ffffff 20px, #ffffff 40px, #e68989 40px, #e68989 60px, #ffffff 60px, #ffffff 80px, #89c7e6 80px, #89c7e6 100px, #ffffff 100px, #ffffff 120px, #e68989 120px, #e68989 140px, #ffffff 140px, #ffffff 160px, #89c7e6 160px, #89c7e6 180px);
  background-image: -o-linear-gradient(135deg, #89c7e6 20px, #ffffff 20px, #ffffff 40px, #e68989 40px, #e68989 60px, #ffffff 60px, #ffffff 80px, #89c7e6 80px, #89c7e6 100px, #ffffff 100px, #ffffff 120px, #e68989 120px, #e68989 140px, #ffffff 140px, #ffffff 160px, #89c7e6 160px, #89c7e6 180px);
  background-image: linear-gradient(135deg, #89c7e6 20px, #ffffff 20px, #ffffff 40px, #e68989 40px, #e68989 60px, #ffffff 60px, #ffffff 80px, #89c7e6 80px, #89c7e6 100px, #ffffff 100px, #ffffff 120px, #e68989 120px, #e68989 140px, #ffffff 140px, #ffffff 160px, #89c7e6 160px, #89c7e6 180px);
  background-size: 113px 113px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 1px 5px -2px #333333, 0px 0px 0px 1px #c7cdd1, inset 0px 0px 4px -1px #ffffff;
  -moz-box-shadow: 0px 1px 5px -2px #333333, 0px 0px 0px 1px #c7cdd1, inset 0px 0px 4px -1px #ffffff;
  -o-box-shadow: 0px 1px 5px -2px #333333, 0px 0px 0px 1px #c7cdd1, inset 0px 0px 4px -1px #ffffff;
  box-shadow: 0px 1px 5px -2px #333333, 0px 0px 0px 1px #c7cdd1, inset 0px 0px 4px -1px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.feedback_inner {
  background-color: #eef0f2;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 4px -1px #ffffff, inset 0px 0px 0px 1px #abb5ba, inset 0px 0px 4px -1px #73838c;
  -moz-box-shadow: 0px 0px 4px -1px #ffffff, inset 0px 0px 0px 1px #abb5ba, inset 0px 0px 4px -1px #73838c;
  -o-box-shadow: 0px 0px 4px -1px #ffffff, inset 0px 0px 0px 1px #abb5ba, inset 0px 0px 4px -1px #73838c;
  box-shadow: 0px 0px 4px -1px #ffffff, inset 0px 0px 0px 1px #abb5ba, inset 0px 0px 4px -1px #73838c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.fb-title {
  text-align: center;
  margin: 30px 20px 20px;
  background-image: -webkit-linear-gradient(0deg, #eef0f2 10px, #ffffff 10px, #ffffff 11px, #8f9ca3 11px, #8f9ca3 12px, #eef0f2 12px);
  background-image: -moz-linear-gradient(0deg, #eef0f2 10px, #ffffff 10px, #ffffff 11px, #8f9ca3 11px, #8f9ca3 12px, #eef0f2 12px);
  background-image: -ms-linear-gradient(0deg, #eef0f2 10px, #ffffff 10px, #ffffff 11px, #8f9ca3 11px, #8f9ca3 12px, #eef0f2 12px);
  background-image: -o-linear-gradient(0deg, #eef0f2 10px, #ffffff 10px, #ffffff 11px, #8f9ca3 11px, #8f9ca3 12px, #eef0f2 12px);
  background-image: linear-gradient(0deg, #eef0f2 10px, #ffffff 10px, #ffffff 11px, #8f9ca3 11px, #8f9ca3 12px, #eef0f2 12px);
}
.fb-title_text {
  background-color: #eef0f2;
  padding: 0px 10px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #ffffff;
}
.fb-form {
  margin: 0px 20px 0px;
}
.info {
  width: 560px;
  color: #FFF;
  margin: 0px auto 20px;
  padding: 20px;
}
